<section class="about container">
  <h1 class="text-center mb-5">About</h1>

  <p>
    We believe that free education, more than anything, has the power to break
    through boundaries and transform lives.
  </p>

  <p>
    The Smart Coder is one of the world’s largest free learning platforms for
    education and skills training. It is a for-profit social enterprise
    dedicated to making it possible for anyone, to study anything, anywhere, at
    any time, for free online, at any subject level. Through our mission we are
    a catalyst for positive social change, creating opportunity, prosperity, and
    equality for everyone.
  </p>

  <p>
    We are driven by our belief in the power of free education and skills
    training to change people’s lives for the better and are passionate about
    providing an overall learning experience that meets their needs and helps
    them to achieve life goals.
  </p>

  <p>
    We are experts in the field of online education and are rigorous in
    delivering high quality learning materials, services and experiences that
    deliver the learning outcomes we have promised.
  </p>

  <div class="follow text-center">
    <h4>Follow Us</h4>

    <br />

    <a href="#">Facebook</a>

    <a href="#">YouTube</a>

    <a href="#">Instagram</a>

    <a href="#">Twitter</a>
  </div>
</section>
